<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Users</title>
    </head>
    <body>
        <h1>Users</h1>

        <a href="/create-user" style="display: block; margin-bottom: 20px">Создать нового</a>

        <ul style="padding: 0; margin: 0">
            {% for user in users %}
            <li style="display: block; padding: 12px 0; border-bottom: 1px solid black">
                <a href="/user/{{ user.id }}" style="display: block">
                    <p style="margin: 0">{{ user.id }}. {{ user.surname }} {{ user.name }}</p>
                    <p style="margin: 0">Age: {{ user.age }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
